.ClassList {
  color: #6e92eb;
  padding: 1em 0;
}

.ClassList >li {
  display: inline-block;
  box-sizing: border-box;
  margin: 2px ;
  padding: 10px;
  border: 1px solid;
  cursor: pointer;
  transition: all .3s;
}

.ClassList li:hover {
  color: #3b69d8;
  font-weight: bold;
  cursor: pointer;
}